@page "/Calci"
<h1>  Compound Interest Calculator </h1>
<table class="table" bgcolor="orange" border="2px">
                    <tr>
                    <th>Principal Amount</th>
                    <th> <input @bind=Principal/> </th>
                    </tr>
                    <tr>
                        <th>Years</th>
                        <th><input @bind=Years/></th>
                    </tr>
                    <tr>
                        <th>Interest Per Annum (%)</th>
                        <th><input @bind=InterestRate/></th>
                    </tr>
                    <tr>
                        <th>Total After @Years Years </th>
                        <th>@total</th>
                    </tr>

                    <tr>
                        <th>
                            Times Increase
                        </th>
                        <th>
                            @Ratio
                        </th>
                    </tr>

                    <tr> <th>Approximate time to Double the Principal Amount </th>
                    <th> @YearsToDouble years </th>
                    </tr>
</table>

<button class="btn btn-primary" @onclick="calculate">  Calculate </button>
@code
{
    private double Principal { get; set; }
    private double InterestRate { get; set; }
    private int Years{ get;set;}

    private double Total { get; set; } = 0;
    private string total {get; set;}
    private int YearsToDouble { get; set;} = 0;
    private string ytd {get; set; }
    private double Ratio { get; set; }

    private void calculate() 
    {
        var Total = Principal* Math.Pow((1 + InterestRate/100.00), Years );
        total = Total.ToString("C");

        YearsToDouble = Convert.ToInt32(72/InterestRate);
        ytd = YearsToDouble.ToString();

        Ratio = Math.Round((Total/Principal),3);
}
}